  <div class="header-wrapper">
    <div class="logo">
      <!-- <img src="../../app/assets/images/caredash-logo.png" alt="logo"> -->
    </div>
    <div class="navbar">
      <div class="dropdown">
        <button>Menu Item</button>
        <div class="drop-content">
          <a href="https://www.caredash.com/find-primary-care-physician" target="_blank">Find a Physician</a>
          <a href="https://www.caredash.com/find-dentist" target="_blank">Find a Dentist</a>
          <a href="https://www.caredash.com/find-pediatrician" target="_blank">Find a Pediatrician</a>
        </div>
      </div>
      <div class="dropdown">
        <button>Menu Item</button>
        <div class="drop-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button>Menu Item</button>
        <div class="drop-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
  </div>
  <div class="top-body-wrapper">
    <div class="cover-image">
      <h2>Bacon ipsum dolor amet drumstick ribeye boudin pancetta capicola bacon picanha filet mignon burgdoggen alcatra jerky cupim chuck chicken.</h2>
      <p>Turducken rump beef ribs prosciutto. Strip steak corned beef pig tri-tip pastrami short ribs kielbasa pork belly ribeye turducken landjaeger cupim turkey prosciutto ground round. Turducken jowl corned beef, short loin pancetta pastrami landjaeger ham hock chicken kevin pork loin sausage meatball rump swine</p>
    </div>
    <div class="signup">
      <p>Sign Up with CareDash to Edit your Provider Profile</p>
      <%= form_for(@user , :html=>{:class=> 'login-form'}) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= render 'shared/success_messages' %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Sign Up", class: "login-button" %>
        <p> Already a user? You can <%= link_to 'Login', login_path%> here.</p>
      <% end %>
    </div>
  </div>
  <div class="bottom-body-wrapper">
    <h2>Reasons to Sign Up as a Provider on CareDash</h2>
    <div class="reasons">
      <div>
        <%= image_tag("steth.png", :alt => "stethoscop-icon") %>

      </div>
      <h3>Headline</h3>
      <p>Bacon ipsum dolor amet drumstick ribeye boudin pancetta capicola bacon picanha filet mignon burgdoggen alcatra jerky cupim chuck chicken. Turducken rump beef ribs prosciutto. Strip steak corned beef pig tri-tip pastrami short ribs kielbasa pork belly ribeye turducken landjaeger cupim turkey prosciutto ground round. Turducken jowl corned beef, short loin pancetta pastrami landjaeger ham hock chicken kevin pork loin sausage meatball rump swine</p>
      <button type="button">Learn More</button>
    </div>
    <div class="reasons">
      <div>
        <%= image_tag("blurb.png", :alt => "message-icon") %>
      </div>
      <h3>Headline</h3>
      <p>Bacon ipsum dolor amet drumstick ribeye boudin pancetta capicola bacon picanha filet mignon burgdoggen alcatra jerky cupim chuck chicken. Turducken rump beef ribs prosciutto. Strip steak corned beef pig tri-tip pastrami short ribs kielbasa pork belly ribeye turducken landjaeger cupim turkey prosciutto ground round. Turducken jowl corned beef, short loin pancetta pastrami landjaeger ham hock chicken kevin pork loin sausage meatball rump swine</p>
      <button type="button">Learn More</button>

    </div>
    <div class="reasons">
      <div>
        <%= image_tag("clipboard.png", :alt => "clipboard-icon") %>
      </div>
      <h3>Headline</h3>
      <p>Bacon ipsum dolor amet drumstick ribeye boudin pancetta capicola bacon picanha filet mignon burgdoggen alcatra jerky cupim chuck chicken. Turducken rump beef ribs prosciutto. Strip steak corned beef pig tri-tip pastrami short ribs kielbasa pork belly ribeye turducken landjaeger cupim turkey prosciutto ground round. Turducken jowl corned beef, short loin pancetta pastrami landjaeger ham hock chicken kevin pork loin sausage meatball rump swine</p>
      <button type="button">Learn More</button>
    </div>
  </div>
  <hr>
  <div class="footer">
    <div class="links">
      <a href="https://www.caredash.com/" target="_blank">Home</a>
      <a href="https://www.caredash.com/about" target="_blank">About</a>
      <a href="https://www.caredash.com/contact-us" target="_blank">Contact</a>
      <a href="https://www.caredash.com/review-your-doctor" target="_blank">Write a Review</a>
    </div>
    <div class="specialists">
      <a href="https://www.caredash.com/find-primary-care-physician" target="_blank">Primary Care Physicians</a>
      <a href="https://www.caredash.com/find-dentist" target="_blank">Pediatricians</a>
      <a href="https://www.caredash.com/find-optometrist" target="_blank">Optometerists</a>
      <a href="https://www.caredash.com/find-dentist" target="_blank">Dentists</a>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/caredash" target="_blank"><span class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
      <a href="https://twitter.com/caredash" target="_blank"><span class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
      <a href="https://www.instagram.com/caredash/" target="_blank"><span class="ig"><i class="fa fa-instagram" aria-hidden="true"></i></span></a>
      <a href="https://www.pinterest.com/caredash/" target="_blank"><span class="pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></span></a>
    </div>
  </div>
